<% if obj.errors.any? %>
    <h3>Following errors need to fix before proceed !</h3>
    <ul>
      <% obj.errors.full_messages.each do |msg| %>
          <li>- <%= msg %></li>
      <% end %>
    </ul>
<% end %>